{% extends "base.html" %}

{% block title %}Taro - Forgot Password{% endblock %}

{% block content %}
    <h1>{{ t('forgot_password_title') }}</h1>
    <p>{{ t('forgot_password_desc') }}</p>

    {% if message %}
    <p class="success">{{ message }}</p>
    {% endif %}

    <form action="/forgot_password" method="POST">
        <label for="fp_username">{{ t('name_label') }}</label>
        <input type="text" id="fp_username" name="username" required>

        <br>
        <button type="submit" class="btn-block">{{ t('send_link') }}</button>
        <br>
        <a href="/" class="btn-amber btn-block">{{ t('go_back') }}</a>
    </form>
{% endblock %}